# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
out/
build/
*.exe

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Electron
*.asar